<div class="admin-layout">
    <header class="app-header fixed-top">
        <headerComponent/>

        <sidePanelComponent/>
    </header>

    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl"><slot/></div>
        </div>

        <footer class="app-footer">
		    <div class="container text-center py-3">
                <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
		    </div>
        </footer>
    </div>
</div>